
@import './variable.less';
.button {
    background: #FA9960 !important;
    border: 1upx solid #DDDDDD !important;
    color: #FFFFFF;
    // font-size: 68rpx;
    // border-radius:  99rpx; // display: inline-block;
    // padding-left: 40rpx;
    // padding-right: 40rpx;
    box-sizing: border-box;
    text-align: center;
    &.inline {
        display: inline-block;
    }
    &::after {
        border: none;
    }
    &.button-hover {
        background: #FFFFFF;
        opacity: 0.7;
    }
    &.primary {
        background: @color-primary;
        border-width: 0;
        color: #fff;
        &.button-hover {
            opacity: 0.7;
            background: @color-primary;
        }
    }
    &.highlight {
        border-radius: 4upx;
        background: @color-major;
        display: inline-block;
        color: @color-font1;
        border: 0;
        &.disable {
            color: @color-font1;
        }
    }
    &.disable {
        color: #333333;
        background: @color-disable !important;
    }
}
